include mixins.pug
doctype html
html(lang='ru')
    +dev_head('hyperlee price')

    body
        .wrapper.no_banner
            .base
                +header_2(2)
                
                .main_content
                    .section_inner.clearfix
                        .page_title.text_center
                            p Именно то, что тебе нужно!
                            
                        
                                
            +footer()
