@charset "UTF-8";
/*личный кабинет*/
.wrapper-lk {
  padding-top: 125px;
}

/*шапка*/
.header-lk {
  padding-bottom: 20px;
}

.il-btn {
  color: #fff !important;
  padding: 7px 18px !important;
  vertical-align: bottom !important;
  display: inherit !important;
  font-size: 14px !important;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.header_contacts.header_contacts-il .link_icon, .header_contacts.header_contacts-il > p > span {
  vertical-align: bottom !important;
}

.header_contacts.header_contacts-il .link_icon {
  margin-top: 15px;
  margin-right: 5px;
}

.header_contacts.header_contacts-il > p > span {
  margin-bottom: -7px;
}

.header-lk .main_menu_holder {
  margin-right: 0;
  float: left;
  display: block;
}

.header-lk .menu_item {
  padding-left: 25px;
}

.header_contacts.header_contacts-il {
  font-weight: normal;
  font: 16px/1.2 RALEWAYMEDIUM, sans-serif !important;
}

.carett > img {
  margin-bottom: 5px;
  margin-left: 3px;
  vertical-align: bottom;
  cursor: pointer;
}

.login-lk {
  margin: 0 15px 0 0;
  position: relative;
}

.login-lk1 {
  cursor: pointer;
}

.login-lk2 {
  position: absolute;
  right: 0;
  top: 24px;
  font-style: normal;
}

.login-lk2 > span {
  display: block;
  margin-bottom: 4px;
}

/*подвал*/
.footer .carett {
  margin-bottom: 10px;
  position: relative;
  bottom: 4px;
}

.lang1 {
  position: relative;
  margin-left: 3px;
  bottom: 6px;
  cursor: pointer;
}

.lang2 {
  position: absolute;
  top: 24px;
  right: 0;
  width: 12px;
}

.so_sh li {
  position: relative;
}

.lang2 span {
  margin-bottom: 3px;
  display: block;
}

/*форма входа и регистрации*/
.content-lk > form {
  width: 65%;
  margin: 0 auto;
  background: #f6fcf5;
  position: relative;
  padding-bottom: 70px;
  margin-top: 25px;
}

.content-lk > form h2 {
  font-size: 24px;
  font-family: 'RALEWAYLIGHT';
}

.content-lk > form > img {
  position: absolute;
  top: 54px;
  left: -66px;
}

.content-lk > form p {
  font-size: 48px;
  color: #fff;
  background: #f43927;
  border-radius: 50%;
  width: 60px;
  display: block;
  margin: 0 auto;
  padding-bottom: 2px;
  position: relative;
  top: -31px;
  font-family: 'RALEWAYSEMIBOLD';
}

.content-lk > form input {
  font-size: 16px;
  font-family: 'RALEWAYSEMIBOLD';
  background: #fff;
  padding: 15px 20px;
  width: 300px;
  border: 1px solid #e2e6e2;
  border-radius: 4px;
}

.content-lk > form input.password1 {
  margin-bottom: 14px;
  margin-top: 34px;
}

.content-lk > form input.password2 {
  margin-top: 0;
  margin-bottom: 35px;
}

.explanation {
  font-size: 16px;
  color: #b9b9b9;
  font-family: 'RALEWAYSEMIBOLD';
  text-align: center;
  margin-top: -26px;
}

.content-lk > form label {
  font-size: 12px;
  color: #fff;
  display: block;
  margin: 10px 0;
}

.card-lk {
  background: #60cc69;
  width: 61%;
  display: block;
  margin: 0 21.5%;
  float: left;
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
}

.month2 span {
  font-size: 12px;
  margin-bottom: 3px;
  display: block;
  padding: 2px 5px;
}

.month2 span:hover {
  background: #e6ebe5;
}

.month {
  position: relative;
  width: 65px;
  float: left;
  margin-right: 30px;
}

.month .so_sh {
  position: absolute;
  top: 15px;
  right: 0;
}

.month1 span {
  float: right;
}

.month2 {
  margin-top: 15px;
  text-align: left;
  position: absolute;
  right: 0;
  background: #fff;
  border: 1px solid #e2e6e2;
}

.month a {
  cursor: pointer;
}

.cvc {
  font-size: 12px;
  position: absolute;
  right: -100px;
  top: 15px;
  background: #e6ebe5;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100px;
  text-align: left;
  padding-bottom: 35px;
}

.header-cvc {
  height: 30px;
  background: #c9c9c9;
  margin-top: 16px;
  margin-bottom: 10px;
}

.card-lk2 input {
  padding: 3px !important;
  height: 30px;
  width: auto !important;
}

.card-lk2 {
  text-align: left;
  padding: 20px;
  margin-top: 30px;
  padding-bottom: 80px;
}

.cvc-body {
  padding: 0 15px;
}

.cvc-body label {
  color: #000 !important;
  margin-bottom: 5px !important;
}

.month3 {
  width: 191px;
  margin: 0 auto;
  float: left;
  display: block;
}

.month input {
  width: 78px !important;
  padding: 10px;
}

.cvc input {
  width: 70px !important;
}

.name-card {
  float: left;
  margin-right: 15px;
}

/*выберете машину*/
.section_caption-lk span {
  font-size: 24px;
  color: #020202;
}

.il-col-5 {
  width: 20%;
  float: left;
  min-height: 1px;
}

.il-col-3 {
  width: 33.33333333333333333333333%;
  float: left;
  min-height: 1px;
}

.il-col-3-2 {
  width: 66.66666666666666666666%;
  float: left;
  min-height: 1px;
}

.il-col-1 {
  width: 100%;
  float: left;
  min-height: 1px;
}

.ruble {
  font-family: 'PTRoubleSans';
  top: 3px;
  position: relative;
  font-weight: 900;
}

.machines {
  background: #f7f7f7;
  margin: 16px;
  padding: 20px;
  position: relative;
  border: 1px solid #e3e3e3;
  padding-top: 0;
}

.machines:hover, .machines-shadow {
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.18);
}

.red-lk {
  color: #f43927;
  font-size: 24px;
  font-family: 'RALEWAYBOLD';
  margin: 10px 0;
}

.header-price {
  font-size: 24px;
  font-family: 'RALEWAYBOLD';
  border-bottom: 1px solid #e3e3e3;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 20px;
  display: block;
  cursor: pointer;
  color: #000;
}

.machines:hover .header-price, .machines-shadow .header-price {
  background: #f3e418;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.18);
  color: #000;
  text-decoration: none;
}

.header-price p {
  padding-left: 20px;
  padding-bottom: 10px;
}

.font14 {
  font-size: 14px;
}

.settings span {
  width: 50px;
  display: inline-block;
  color: #020202;
  font-family: 'RALEWAYREGULAR';
}

.settings {
  padding: 6px 0;
  font-family: 'RALEWAYSEMIBOLD';
}

.circle-lk {
  position: absolute;
  right: 14px;
  top: 113px;
}

input.buttons-green {
  width: 65px;
  text-align: center;
  border-bottom: 2px solid #e3e3e3;
  padding: 15.5px 0;
  border-top: 2px solid #e3e3e3;
  font-size: 16px;
  margin: 0 -3px;
  background: #fff;
}

.greed-button.button-right {
  border: 2px solid #60cc69;
  color: #60cc69;
  background: #fff;
  font-size: 41px;
  padding: 11px 15px;
  margin-left: 0px;
  line-height: 27px;
  vertical-align: middle;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 56px;
}

.greed-button.button-left {
  border: 2px solid #60cc69;
  color: #60cc69;
  background: #fff;
  font-size: 38px;
  padding: 11px 15px;
  margin-left: 0px;
  line-height: 27px;
  vertical-align: middle;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  width: 56px;
}

button.greed-button.button-left img {
  margin-bottom: 3px;
}

button.greed-button.button-right img {
  margin-bottom: 4px;
}

.instans > .il-col-3 {
  text-align: center;
}

.tabs-lk p, .instans > .il-col-3 > p {
  font-size: 24px;
  text-align: center;
  margin: 50px 0 50px 0;
  font-family: 'RALEWAYLIGHT';
}

/*табы*/
.instans {
  padding: 0 16px 16px 16px;
  display: block;
  background: #f6fcf5;
  margin: 16px;
  margin-bottom: 50px;
}

.tabs-lk {
  width: 800px;
  padding: 0px;
  margin: 0 auto;
  position: relative;
}

section.tabbs {
  display: none;
  padding: 48px 15px 15px 15px;
  background: #fbeb19;
  position: absolute;
  top: 0;
  left: 50%;
}

.tabbs label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

.tabbs input[type=radio] {
  display: none;
}

.tabbs label:before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 10px;
  background-color: #fff;
  /* box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); */
  border-radius: 50%;
  border: 2px solid #dcdcdc;
}

.tabbs .radio label:before {
  border-radius: 8px;
}

.tabbs input[type=radio]:checked + label:after {
  content: "\2022";
  color: transparent;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
  width: 16px;
  height: 16px;
  background: #60cc69;
  position: absolute;
  border-radius: 50%;
  left: 5px;
  top: 15px;
}

.tabs-lk p {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'RALEWAYLIGHT';
}

.tabs-lk input {
  display: none;
}

.tabs-lk label {
  display: block;
  width: 50%;
  padding: 15px;
  background: transparent;
  cursor: pointer;
}

.tabs-lk label span {
  background: #fff;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 16px;
  text-align: left;
  width: 300px;
  display: block;
  border: 1px solid #e2e6e2;
  margin: 0 auto;
  font-family: 'RALEWAYSEMIBOLD';
}

#container-lk {
  margin-bottom: 30px;
}

.tabs-lk input:checked + label {
  background: #fbeb19;
}

.tabs-lk #tab1:checked ~ #content1, .tabs-lk #tab2:checked ~ #content2, .tabs-lk #tab3:checked ~ #content3, .tabs-lk #tab4:checked ~ #content4 {
  display: block;
}

section.tabbs {
  /* animation: scale 0.7s ease-in-out; */
  width: 50%;
  height: 100%;
}

.tabbs [type="radio"] {
  position: relative;
  width: 25px;
  height: 25px;
}

.tabbs [type="radio"]:checked:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 15px;
  background: #60cc69;
  top: 5px;
  left: 5px;
  height: 15px;
  border: 1px solid #64cd6d;
}

.tabbs input[type="text"] {
  width: 92%;
  float: none;
  display: block;
  background: #fff;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px auto;
  border: 1px solid #e2e6e2;
}

.tabbs label {
  font-size: 16px;
  float: left;
  width: 116px;
  display: inline-block;
  margin-bottom: 17px;
  padding-left: 40px;
  margin-left: 13px;
  margin-right: 0;
}

.tabbs input {
  display: inline-block;
}

.no-aktive {
  cursor: default !important;
  background: transparent !important;
  font-size: 24px;
  text-align: center;
  padding-top: 48px !important;
  font-family: 'RALEWAYLIGHT';
}

@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.005);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/*мои машины*/
span.circle-lk2 {
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  width: 21px;
  height: 21px;
  display: inline-block;
  padding-top: -13px;
  line-height: 17px;
  vertical-align: -4px;
  margin-right: 4px;
}

.il-btn2 {
  vertical-align: 10px !important;
}

.lk-row:before {
  display: table;
  content: " ";
}

.lk-row:after {
  clear: both;
  display: table;
  content: " ";
}

.greed-button.button-left2 {
  border: 2px solid #60cc69;
  color: #60cc69;
  font-size: 41px;
  padding: 3px 15px;
  margin-left: 0px;
  line-height: 27px;
  vertical-align: middle;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background: #f7f7f7;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.18);
}

.greed-button.button-right2 {
  border: 2px solid #60cc69;
  color: #60cc69;
  background: #fff;
  font-size: 41px;
  padding: 3px 15px;
  line-height: 27px;
  vertical-align: middle;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  margin-left: -6px;
}

.buttons-green2 {
  border: 2px solid #60cc69;
  color: #60cc69;
  background: #fff;
  font-size: 41px;
  padding: 3px 15px;
  line-height: 27px;
  vertical-align: middle;
  margin: 0 0 0 -6px;
}

.center-grup-button {
  text-align: center;
}

.center-grup-button img {
  vertical-align: middle;
  margin-bottom: 6px;
}

.buttons-green-title:hover:after {
  content: attr(data-title);
  position: absolute;
  color: #000;
  font-size: 14px;
  background: #f7f7f7;
  border: 1px solid #e3e3e3;
  padding: 2px 9px;
}

.header-price > p > span {
  border-radius: 50%;
  border: 1px solid #000;
  width: 24px;
  display: block;
  padding-left: 9px;
  height: 24px;
  float: right;
  margin-right: 16px;
  font-size: 19px;
}

.fonts-14 {
  font-size: 14px;
  color: #000;
}

.footer-price {
  width: 100%;
  margin: 0 -19px;
  padding: 16px;
  margin-top: 8px;
}

.footer-price:before {
  content: "";
  border-top: 1px solid #e3e3e3;
  display: block;
  width: 100%;
  position: absolute;
  margin-left: -16px;
  top: 231px;
}

.footer-price p {
  margin-bottom: 7px;
}

.row-bottom {
  margin-bottom: 110px;
}

.two-steps > span {
  font-size: 35px;
}

.two-steps {
  margin-bottom: 130px;
}

.no-machine {
  margin-top: 80px;
  margin-bottom: 50px;
}

.margin-tab {
  margin-bottom: 40px;
}

.machines-info {
  margin-bottom: 190px;
  width: 100%;
  float: left;
  padding-bottom: 20px;
  padding-top: 20px !important;
  background: #f6fbf5;
}

.machines-info button.close {
  position: absolute;
  right: 102px;
  top: 17px;
}

.center-grup-button-celect {
  padding: 30px 0 30px 0;
  margin: -16px 16px 0 16px;
}

.header-price.h-center {
  text-align: center !important;
  border-bottom: 0 !important;
  position: relative;
  cursor: default;
}

.header-price.h-center > p > img {
  position: absolute;
  right: 17px;
  cursor: pointer;
}

.main_menu_holder-lk {
  margin-right: 0;
}

.machines-info-bottom {
  margin-bottom: 25px;
  border-bottom: 2px solid #fbeb19;
  padding-bottom: 25px;
}

.clearfix-bottom {
  padding-bottom: 90px;
}

.wrapper-lk2 {
  padding-top: 132px;
}

.main_menu-il {
  text-align: left;
}

ul.main_menu.main_menu-il li {
  padding-left: 17px;
  padding-right: 21px;
}

.main_menu_holder.main_menu_holder-lk {
  position: relative;
}

button.header-price.h-center {
  position: absolute;
  right: 40px;
  top: 18px;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.scroll-wrapper.scrollbar-external.machines-info .h-center-il {
  height: 0;
  padding: 0;
  padding-top: 1px;
}

.tariffs-row.active, .tariffs-row.inactive {
  transition: all 0.5s ease-in;
}

.tariffs-row.active .options, .tariffs-row.inactive .options {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.external-scroll_x.scroll-x.scroll-scrollx_visible:after {
  position: absolute;
  top: 10px;
  background: #fff;
  height: 17px;
  width: 100%;
  z-index: 10000000000000000000000;
  content: "";
}

.external-scroll_x.scroll-x.scroll-scrollx_visible:before {
  position: absolute;
  top: -17px;
  background: #fff;
  height: 17px;
  width: 100%;
  z-index: 10000000000000000000000;
  content: "";
}

.user_data {
  max-width: 840px;
  margin: 30px auto;
  position: relative;
  padding: 27px 32px;
  background: #fff;
}

.user_info {
  color: #020202;
  font-size: 14px;
  margin-bottom: 37px;
}
.user_info:before, .user_info:after {
  content: "";
  display: table;
}
.user_info:after {
  clear: both;
}
.user_info dt {
  width: 32%;
  float: left;
  padding-bottom: 29px;
}
.user_info dd {
  width: 68%;
  float: left;
  padding-bottom: 29px;
  font-family: RALEWAYMEDIUM, sans-serif;
}
.user_info ._bordered {
  border-bottom: 1px solid #f6fbf5;
  margin-bottom: 30px;
  font: 16px RALEWAYMEDIUM, sans-serif;
}
